.contact{
     margin: 80px auto;
     max-width: 90%;
     display: flex;
     align-items: top;
     justify-content: space-between;
}

.contact-col{
    flex-basis: 48%;
}

.contact-col h3{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-col ul li{
    margin: 20px auto;
}

.contact form input,
.contact form textarea{
    display: block;
    width: 100%;
    background: #373737;
    padding: 15px;
    border: 0;
    outline: 0;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
    font-size: 14px;
    border-radius: 10px;
}

.contact form input:focus,
.contact form textarea:focus{
    border: 1px solid #fff;
}

.contact-col span{
    display: block;
    margin: 15px 0;
    font-size: 15px;
}

label{
    font-size: 16px;
}

/* Media Query */
@media (max-width: 700px) {
    .contact{
        display: block;
    }

    .contact-col{
        padding: 20px;
    }
}