.home-about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    /* gap: 50px; */
}

.homeabout-left {
    flex-basis: 40%;
    text-align: center;
}

.homeabout-left img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.homeabout-left img:hover{
    filter: drop-shadow(0 4px 10px rgba(246, 246, 246, 0.3));
}

.homeabout-right {
    flex-basis: 56%;
}

.homeabout-right h3 {
    font-weight: 600;
    font-size: 16px;
    color: #febf02;
}

.homeabout-right h2 {
    font-weight: 600;
    font-size: 32px;
    margin: 10px 0;
    max-width: 400px;
}

.homeabout-right p {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .home-about {
        flex-direction: column-reverse;
    }

    .homeabout-left img {
        width: 80%;
    }

    .homeabout-right {
    margin-bottom: 30px;
}
}